.tile{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}

.rightPlace{
    background-color: aquamarine;
}

.close{
    background-color: yellow;
}

.wrong{
    background-color: grey;
}